body{
	background: url("../../../images/bg-jobs-inside.jpg") 50% 0 no-repeat;
}

#jobs{
	height: auto;
	margin: 0 auto;
	width: 100%;
	position: relative;
	float:left;
	clear:both;
	margin-top: 100px;
}

.job-hashtags-inside{
    margin-top: 20px;
    position: relative;
    width: 100%;
}

.full-width-job{
	text-align: center;
	margin-top: 30px;
	margin-bottom: 10px;
}

.img-center{
	margin: 0 auto!important;
}

.thin{
	font-weight: 100;
}

.strong{
	font-weight: 600;
}

.col-img{
	margin-top: 20px;
	margin-bottom: 50px;
}

.col-content{
	padding: 35px;
	border: 1px solid #d2ff00;
	float:left!important;
	margin-bottom:30px;
}

.col-gallery{
	margin-top: 20px;
}

.bg-white{
	background-color: #fff;
}

h1 {
    font-family: 'motorless_hammeredregular';
    color: #fff;
    text-align: center;
    font-size: 5em;
    text-shadow: none!important;
}

h2 {
	text-align: center;
	font-family: 'Roboto';
	font-size: 1.2em;
    margin-top: 0px;
    margin-bottom: 30px!important;
}

#gallery{
	height: auto;
	margin: 0 auto;
	width: 100%;
	position: relative;
	float:left;
	clear:both;
	margin-top: 10px;
}

#gallery h1{
	text-align: left;
	font-family: 'Roboto';
	color:#000;
	font-weight: 600;
	font-size:1.2em;
}

#gallery h2{
	text-align: left;
	font-family: 'Roboto';
	color:#000;
	font-weight: 100;
	font-size:0.8em;
	margin-bottom: 45px;
}

#gallery .img-job{
	margin: 0 auto;
	margin-bottom: 20px;
}

.back-effect{
	transition: all 0.5s ease 0s!important;
}
.back-effect:hover{
	transition: all 0.5s ease 0s!important;
	transform: scale(0.9,0.9) rotate(5deg);
}

.troops-effect{
	transition: all 0.5s ease 0s!important;
}
.troops-effect:hover{
	transition: all 0.5s ease 0s!important;
	transform: scale(0.9,0.9) rotate(0deg);
}

.owl-theme .owl-controls .owl-page span{
	background: #ccc!important;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	background: #000!important;
}

@media only screen and (max-width: 767px){
	.container-job {
	    width: 100%;
	    padding: 0px;
	    margin: 0px;
	}
	#gallery .bg-white{
		padding:0px!important;
	}
	#jobs .col-content p{
		font-size: 10pt;
		line-height: 12pt;
	}
	.job-hashtag {
	    width: 100%;
	}
	h1 {
	    font-family: 'motorless_hammeredregular';
	    color: #fff;
	    text-align: center;
	    font-size: 3em;
	    text-shadow: none!important;
	}
}