.hide-menu{
	position: fixed;
	width: 100%;
	height: 130px;
	z-index:99999999;
}

.menu{
	position: relative;
	float:left;
	transition: all 0.5s ease 0s!important;
}

/* Overlay style */
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(255, 0, 114, 0.9);
	z-index:9999;
}

/* Menu style */
.overlay nav {
	text-align: center;
	position: relative;
	top: 50%;
	height: 60%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 100%;
	position: relative;
}

.overlay ul li {
	display: block;
	height: 20%;
	height: calc(100% / 5);
	min-height: 54px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.overlay ul li a {
	font-size: 54px;
	font-weight: 300;
	display: block;
	color: #fff;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
	font-family: 'motorless_hammeredregular';
	color:#d2ff00;
	font-size: 6em;
	text-align: center;
	transition: all 0.5s ease 0s!important;
	line-height: 0.7em;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
	color: #f0f0f0;
	text-decoration: none;
}

/* Effects */
.overlay-door {
	visibility: hidden;
	width: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	-webkit-transition: width 0.5s 0.3s, visibility 0s 0.8s;
	transition: width 0.5s 0.3s, visibility 0s 0.8s;
}

.overlay-door.open {
	visibility: visible;
	width: 100%;
	-webkit-transition: width 0.5s;
	transition: width 0.5s;
}

.overlay-door nav {
	position: absolute;
	left: 50%;
	-webkit-transform: translateY(-50%) translateX(-50%);
	transform: translateY(-50%) translateX(-50%);
}

.overlay-door nav,
.overlay-door .overlay-close {
	opacity: 0;
	-webkit-transition: opacity 0.3s 0.5s;
	transition: opacity 0.3s 0.5s;
}

.overlay-door.open nav,
.overlay-door.open .overlay-close {
	opacity: 1;
	-webkit-transition-delay: 0.5s;
	transition-delay: 0.5s;
}

.overlay-door.close-door nav,
.overlay-door.close-door .overlay-close {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	z-index: 99999;
}

@media screen and (max-height: 30.5em) {
	.overlay nav {
		height: 70%;
		font-size: 34px;
	}
	.overlay ul li {
		min-height: 34px;
	}
}

/* Nav */

.icon-nav-back{
	background: url("../../../images/icon-menu.png") 50% 0 no-repeat;
	height: 160px;
	width: 160px;
	margin: 0 auto;
	position: fixed;
	left: 100%;
	margin-left: -154px;
	margin-top: -18px;
	z-index: 99999;
	cursor: pointer;
	transition: all 0.5s ease 0s!important;
}

.icon-nav-back:hover{
	transform: scale(0.95,0.95);
    transition: all 0.5s ease 0s!important;
}

.icon-nav {
	position: fixed;
	height: 60px;
	width: 60px;
	left: 100%;
	margin-left: -90px!important;
	top: 19px;
}

@media screen and (max-width: 1000px){
	.icon-nav-back{
		background: url("../../../images/icon-menu-small.png") 50% 0 no-repeat;
		height: 110px;
		width: 110px;
		margin: 0 auto;
		position: fixed;
		left: 100%;
		margin-left: -116px;
		margin-top: -2px;
		z-index: 99999;
		cursor: pointer;
	}
	.icon-nav {
		position: fixed;
		height: 60px;
		width: 60px;
		left: 100%;
		margin-left: -68px!important;
		top: -3px;
	}
}

/* Lines Menu */

button {
  display: inline-block;
  border: none;
  background: none;
  z-index: 99999;
}
button span {
  display: block;
}

.lines-button {
	position:relative;
	float:left;
	padding: 2rem 1rem;
	transition: .3s;
	cursor: pointer;
	user-select: none;
	margin-top: 16px;
}
.lines-button:hover {
  opacity: 1;
}
.lines-button:active {
  transition: 0;
}

.lines {
  display: inline-block;
  width: 3.5rem;
  height: 0.37143rem;
  background: #ecf0f1;
  border-radius: 0;
  transition: 0.3s;
  position: relative;
}

.lines:before, .lines:after {
  display: inline-block;
  width: 3.5rem;
  height: 0.37143rem!important;
  background: #ecf0f1;
  border-radius: 0rem;
  transition: 0.3s;
  position: absolute;
  left: 0;
  content: '';
  -webkit-transform-origin: 0.28571rem center;
  transform-origin: 0.28571rem center;
}
.lines:before {
  top: 1rem;
}
.lines:after {
  top: -1rem;
}

.lines-button:hover .lines:before {
  top: 13px;
}
.lines-button:hover .lines:after {
  top: -13px;
}

.lines-button.close-door-menu {
  -webkit-transform: scale3d(0.8, 0.8, 0.8);
  transform: scale3d(0.8, 0.8, 0.8);
}

.lines-button.arrow.close-door-menu .lines:before, .lines-button.arrow.close-door-menu .lines:after {
  top: 0;
  width: 2.22222rem;
}
.lines-button.arrow.close-door-menu .lines:before {
  -webkit-transform: rotate3d(0, 0, 1, 40deg);
  transform: rotate3d(0, 0, 1, 40deg);
}
.lines-button.arrow.close-door-menu .lines:after {
  -webkit-transform: rotate3d(0, 0, 1, -40deg);
  transform: rotate3d(0, 0, 1, -40deg);
}

.lines-button.arrow-up.close-door-menu {
  -webkit-transform: scale3d(0.8, 0.8, 0.8) rotate3d(0, 0, 1, 90deg);
  transform: scale3d(0.8, 0.8, 0.8) rotate3d(0, 0, 1, 90deg);
}

.lines-button.minus.close-door-menu .lines:before, .lines-button.minus.close-door-menu .lines:after {
  -webkit-transform: none;
  transform: none;
  top: 0;
  width: 4rem;
}

.lines-button.x.close-door-menu .lines {
  background: transparent;
}
.lines-button.x.close-door-menu .lines:before, .lines-button.x.close-door-menu .lines:after {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  top: 0;
  width: 4rem;
}
.lines-button.x.close-door-menu .lines:before {
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg);
}
.lines-button.x.close-door-menu .lines:after {
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
  transform: rotate3d(0, 0, 1, -45deg);
}

/* Responsive Adjustements */

@media screen and (max-width: 600px){
	.overlay ul li a {
	    font-size: 55px!important;
	}
	.overlay ul li a:first-child {
	    margin-top:20px;
	}
}
