/* Body */

body{
	background-color: #000;
	font-family: 'Roboto', sans-serif;
}


/* Selection */

::-moz-selection { /* Code for Firefox */
    color: #000;
    background: #ff2087;
}

::selection {
    color: #000;
    background: #ff2087;
}

/*	Debug to remove blue border in Chrome */

input:focus, textarea:focus, button:focus{
	outline:0;
}
input:active, textarea:active, button:active{
	outline: none;
}

/* Others */

.box-buttons-job{
	position: absolute;
	width: 300px;
	left:50%;
	margin-left: -150px;
	margin-top: 30px;
}

.full-width-troop{
	position: relative;
	float: left;
	height: 140px;
	width: 100%;
}

.box-buttons-troop{
	position: absolute;
	width: 300px;
	left:50%;
	margin-left: -150px;
	margin-top: 30px;
}

/* Fonts */

.flower{
	font-family: 'moon_flower_boldregular';
}

.motorless{
	font-family: 'motorless_hammeredregular';
}

/* Links */

a{
	text-decoration: none;
	color:#2aa465;
}

 /* Colors */

 .color-black{
 	color:#000!important;
 }

 .color-gray-light{
 	color:#d3d3d3!important;
 }

 .color-white{
 	color:#fff;
 }

 /* Paragraph */

 p{
 	color:#b1b1b1;
 	line-height: 1.8em;
 }

 /* Sizes */

big{
	font-size: 130%;
}

small{
	font-size: 80%;
}

 /* Strong */

strong{
	font-weight: 700;
}

.center{
	text-align: center;
}

/* Headers */

h1{
	font-family: 'motorless_hammeredregular';
	color:#d2ff00;
	text-align: center;
	font-size: 7em;
	text-shadow: -4px 3px 1px rgba(237, 19, 117, 0.9);
}

h2{
	font-family: 'moon_flower_boldregular';
	color:#d2ff00;
	font-size: 2em;
	/*text-shadow: -3px 3px 1px rgba(255, 0, 114, 0.9);*/
	text-transform: lowercase;
}

.h-quem{
	margin-top: 70px;
	margin-bottom: 50px;
}

.h-principalmente{
	margin-top: 40px;
	margin-bottom: 40px;
	font-weight: 300;
	font-family: 'moon_flower_boldregular';
	font-size: 3.7em;
}

.h-father{
	color:#ff2087!important;
	font-size: 9em;
	text-shadow: -4px 3px 1px rgba(100, 23, 172, 0.9);
}

.h-sith{
	color:#fff;
	font-size: 9em;
	text-shadow: -4px 3px 1px rgba(255, 0, 114, 0.9);
}

.h-contato{
	color:#01fea0;
	font-size: 5em;
	text-shadow: -4px 3px 1px rgba(36, 59, 90, 0.9);
}

.h2-quem{
	margin-top: 10px;
	margin-bottom: -3px;
}

h6{
	font-family: 'Roboto', sans-serif;
	color:#d2ff00;
	text-align: center;
	font-size: 2em;
	text-transform: uppercase;
}

@media screen and (max-width: 700px){
	.h-quem{
		margin-top: 35px;
		margin-bottom: 25px;
		font-size: 4.5em;
	}
}

@media screen and (max-width: 570px){
	.h-contato {
		font-size: 4em;
	}
}

@media screen and (max-width: 547px){
	.h-sith{
		font-size: 7em;
	}
}

@media screen and (max-width: 500px){
	.h-quem{
		margin-top: 25px;
		margin-bottom: 15px;
		font-size: 4em;
	}

	.h-principalmente{
		margin-top: 20px;
		margin-bottom: 15px;
		font-weight: 300;
	}

	.h-father{
		font-size: 6em;
	}

	.h-sith{
		font-size: 5em;
	}

	.h-contato{
		color:#01fea0;
		font-size: 3.4em;
		text-shadow: -4px 3px 1px rgba(36, 59, 90, 0.9);
	}
}

/* Bg Sections */

@media screen and (min-width: 1950px){
	.cover{
		-webkit-background-size: cover!important;
		-moz-background-size: cover!important;
		-o-background-size: cover!important;
		background-size: cover!important;
	}
}

#home{
	background: url("../../../images/bg-home.jpg") 50% 0 no-repeat;
	height: 1300px;
	margin: 0 auto;
	width: 100%;
	position: relative;
	float:left;
	clear:both;
}

#home-div{
	background: url("../../../images/div-home.png") 50% 0 no-repeat;
	height: 244px;
	margin: 0 auto;
	width: 100%;
	position: absolute;
	bottom: 0;
}

@media screen and (max-width: 500px){
	#home{
		background: url("../../../images/bg-home-small.jpg") 50% 0 no-repeat;
		height: 800px;
		margin: 0 auto;
		width: 100%;
		position: relative;
		float:left;
		clear:both;
	}
	#home-div{
		display: none;
	}
}

#quem{
	background: url("../../../images/bg-quem.jpg") 50% 0 no-repeat;
	height: 1401px;
	margin: 0 auto;
	width: 100%;
	position: relative;
	float:left;
	clear:both;
}

#father{
	background-image: url("../../../images/dots-2.png"), url("../../../images/bg-father.jpg");
	background-position: 50% 0, 50% 0;
	height: 1383px;
	margin: 0 auto;
	width: 100%;
	position: relative;
	float:left;
	clear:both;
}

#jobs{
	background: url("../../../images/bg-jobs.jpg") 50% 0 no-repeat;
	height: auto;
	margin: 0 auto;
	width: 100%;
	position: relative;
	float:left;
	clear:both;
}

#contato-div{
	background: url("../../../images/div-contato.png") 50% 0 no-repeat;
	height: 195px;
	margin: 0 auto;
	width: 100%;
	position: relative;
	float:left;
	clear:both;
}

#contato{
	background: url("../../../images/bg-contato.jpg") 50% 0 no-repeat;
	height: 1524px;
	margin: 0 auto;
	width: 100%;
	position: relative;
	float:left;
	clear:both;
}

#footer{
	background: url("../../../images/bg-jobs.jpg") 50% 0 no-repeat;
	height: auto;
	margin: 0 auto;
	width: 100%;
	position: relative;
	float:left;
	clear:both;
}

/* Sections Adjustments */

/* Home */

#home .img-responsive {
    margin: 0 auto;
    height: 100%;
    padding-top: 50px;
}

@media screen and (max-width: 500px){
	#home .img-responsive {
	    margin: 0 auto;
	    height: 100%;
	    padding-top: 0px;
	}
}

/* Quem */

.troop{
	cursor: pointer;
	width: 210px;
	height: 210px;
	transition: all 0.5s ease 0s!important;
}

.troop:hover{
	opacity: 0.5;
	background-color: #d2ff00;
	transform: scale(0.9,0.9) rotate(5deg);
}

.button-green{
	display: block;
	padding: 5px 20px;
	text-decoration: none;
	cursor: pointer;
	color: #d2ff00;
	width: 140px;
	text-align: center;
	font-size: 1.7em;
	height: 50px;
	line-height: 41px;
	/*text-shadow: -1px 2px 1px rgba(255, 0, 114, 0.9);*/
	font-family: 'moon_flower_boldregular';
	border: 2px solid #C11361;
	transition: all 0.5s ease 0s!important;
	z-index: 99;
	position: relative;
	float: left;
	margin: 0px;
	clear: none;
	margin-left: 6px;
}

.button-green:hover{
	background: #d2ff00;
	color: #000000;
}

.quem-opened{
	margin-top: 50px;
}

.troop-first-name{
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 0.8em;
	font-style: italic;
	text-align: left!important;
	text-shadow: none!important;
	font-size: 6.3em;
}

.troop-last-name{
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 0.8em;
	font-style: italic;
	text-align: left!important;
	text-shadow: none!important;
	font-size: 4em;
	color: #C11361;
	margin: 0;
	margin-top: 20px;
}

.troop-age{
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 1.1em;
	color: #fff;
	font-style: italic;
	margin: 0!important;
	margin-top: 25px!important;
	margin-left: 10px!important;
}

.troop-hashtags{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 1.1em;
	color: #a4a7a6;
	font-style: italic;
	margin: 0!important;
	margin-top: 5px!important;
	margin-left: 10px!important;
}

.troop-bio{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 1em;
	color: #a4a7a6;
	font-style: italic;
	margin: 0!important;
	margin-top: 10px!important;
	margin-left: 10px!important;
}

.troop-graduation{
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 1.1em;
	color: #d2ff00;
	font-style: italic;
	margin: 0!important;
	margin-top: 25px!important;
	margin-left: 10px!important;
}

.troop-occupation{
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 1.1em;
	color: #fff;
	font-style: italic;
	margin: 0!important;
	margin-top: 5px!important;
	margin-left: 10px!important;
}

.green-border{
	background: url('../../../images/green-line.png') repeat-y 100%;
}

.troop-picture-effect img{
	position: absolute;
	left: 60%;
	top: -20px;
}

.troop-picture img{
	margin: 0 auto;
	margin-top: 34px;
	border: 6px solid #C11361;
	border-radius: 50%;
}

@media only screen and (max-width: 520px){
	.troop-picture-effect img{
	  position: absolute;
	  left: 60%;
	  width: 90px;
	}
}

@media only screen and (max-width: 1199px){
	.troop-picture img{
		max-height: 390px;
	}
	.green-border{
		background-image: none;
	}
	.troop-first-name{
		font-size: 3em;
		text-align: center!important;
	}
	.troop-age{
		margin-top: 5px!important;
		text-align: center!important;
	}
	.troop-occupation{
		margin-top: 5px!important;
		text-align: center!important;
	}
	.troop-last-name{
		margin-top: 5px!important;
		font-size: 2em;
		text-align: center!important;
	}
	.troop-hashtags{
		margin-top: 5px!important;
		text-align: center!important;
	}
	.troop-bio{
		margin-top: 5px!important;
		text-align: center!important;
	}
	.troop-graduation{
		margin-top: 5px!important;
		text-align: center!important;
	}
	.quem-opened{
		margin-top: 23px!important;
	}
}

.p-quem-hash{
  margin-top: 50px;
  font-size: 1.8em;
  font-family: 'moon_flower_boldregular';
  color: #d2ff00;
}

.p-description-troop{
	text-transform: uppercase;
	font-size: 0.9em;
}

/* Quem Carrousel */

.owl-theme .owl-controls .owl-page span{
	background: #d2ff00!important;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	background: #ff2087!important;
}


#owl-quem{
	margin-top: 90px;
	text-align: center;
}

#owl-quem img{
	margin: 0 auto;
	border-radius: 50%;
	border: 4px solid #BFBFBF;
}

@media screen and (max-width: 600px){
	#owl-quem{
		margin-top: 10px;
	}
	#owl-quem .owl-controls {
  		margin-top: 0px!important;
  		text-align: center;
	}
}

/* Father */

.spacer-father{
	margin-top: 70px;
	text-align: left;
}

.p-father{
	font-weight: 400;
	font-size: 1.3em;
	padding-left: 35px;
	max-width: 450px;
}

.p-stamp{
	color: black;
	text-align: center;
	font-size: 1.2em;
	padding: 30px;
}

@media screen and (max-width: 768px){
	.p-father{
		max-width: 100%;
		font-size: 1.1em;
	}
	.p-stamp{
		color: black;
		text-align: center;
		font-size: 1.1em;
		padding: 30px;
		padding-top: 10px;
	}
	.spacer-father{
		margin-top: 10px;
	}
	.h-father{
		margin-top: 0px!important;
		font-size: 7em!important;
	}
	#owl-stamp {
		margin-top: 20px!important;
	}
}

@media screen and (max-width: 1199px){
	.p-father{
		max-width: 100%;
		margin-bottom:20px
	}
	.p-stamp{
		color: black;
		text-align: center;
		padding: 30px;
	}
	.spacer-father{
		margin-top: 50px;
	}
	.h-father{
		margin-top: 0px!important;
		font-size: 9em!important;
	}
	#owl-stamp {
		margin-top: 80px!important;
	}
}

@media screen and (max-width: 992px){
	.p-father{
		max-width: 100%;
	}
	.p-stamp{
		color: black;
		text-align: center;
		padding: 30px;
		padding-top: 10px;
	}
	.spacer-father{
		margin-top: 10px;
	}
	.h-father{
		margin-top: 0px!important;
		font-size: 5em!important;
	}
	#owl-stamp {
		margin-top: 20px!important;
	}
}

@media screen and (max-width: 600px){
	.p-father{
		padding-left: 0px;
		text-align: center;
	}
}

#design-stamp{
	background: url("../../../images/design-stamp.png") 50% 0 no-repeat;
	height: 270px;
	width: 235px;
	position: relative;
	float: left;
	margin-top: 315px;
	margin-left: 45px;
}

#web-stamp{
	background: url("../../../images/web-stamp.png") 50% 0 no-repeat;
	height: 270px;
	width: 235px;
	position: relative;
	float: left;
	margin-top: 315px;
	margin-left: 45px;
}

#apps-stamp{
	background: url("../../../images/apps-stamp.png") 50% 0 no-repeat;
	height: 270px;
	width: 235px;
	position: relative;
	float: left;
	margin-top: 15px;
	margin-left: 45px;
}

#games-stamp{
	background: url("../../../images/games-stamp.png") 50% 0 no-repeat;
	height: 270px;
	width: 235px;
	position: relative;
	float: left;
	margin-top: 15px;
	margin-left: 45px;
}

/* Stamp Carrousel */

#owl-stamp{
	margin-top: 130px;
	text-align: center;
}

#owl-stamp img{
	margin: 0 auto;
	transition: all 0.5s ease 0s!important;
}

#owl-stamp img:hover{
	transition: all 0.5s ease 0s!important;
	opacity: 0.5;
	cursor: pointer;
	transform: scale(0.95,0.95);

}

/* Jobs */

.job-title{
	text-align: left;
	color: #fff;
	font-size: 6em;
	text-shadow: none;
}

.job-hashtags{
  margin-top: 50px;
  position: relative;
  width: 100%;
  float: left;
  clear: both;
}

.job-hashtag{
  display: block;
  padding: 5px 20px;
  text-decoration: none;
  cursor: pointer;
  color: #FFFFFF;
  text-align: center;
  font-size: 1.5em;
  height: 35px;
  line-height: 25px;
  font-family: 'moon_flower_boldregular';
  border: 2px solid white;
  margin: 5px;
  transition: all 0.5s ease 0s!important;
  position: relative;
  float: left;
}

.job-hashtag:hover {
	background: #FFFFFF;
	color: #000000;
}

.p-check-jobs{
	font-family: 'moon_flower_boldregular';
	color: #FFFFFF;
	font-size: 1.8em;
	padding: 5px 20px;
}

@media screen and (max-width: 500px){
	.job-title {
		font-size: 5em;
	}
}

#owl-job-pics{
	margin-top: 30px;
}

#owl-job-pics .item{
	transition: all 0.5s ease 0s!important;
}

#owl-job-pics img{
	transition: all 0.5s ease 0s!important;
}

#owl-job-pics img:hover{
	transition: all 0.5s ease 0s!important;
	opacity: 0.9;
	cursor: pointer;
}

.button-white{
	display: block;
	padding: 5px 20px;
	text-decoration: none;
	cursor: pointer;
	color: #FFFFFF;
	width: 140px;
	text-align: center;
	font-size: 1.7em;
	height: 50px;
	line-height: 41px;
	/*text-shadow: -1px 2px 1px rgba(255, 0, 114, 0.9);*/
	font-family: 'moon_flower_boldregular';
	border: 2px solid #C11361;
	transition: all 0.5s ease 0s!important;
	z-index: 99;
	position: relative;
	float: left;
	margin: 0px;
	clear: none;
	margin-left: 6px;
}

.button-white:hover{
	background: #FFFFFF;
	color: #000000;
}

.table-horizontal-list {
    display: table;
    margin: 0 auto;
    text-align: center;
}

ul.horizontal-list {
    margin: 0px;
    padding: 0px;
    list-style: none;
    padding-top: 25px;
}

ul.horizontal-list li {
    display: inline;
}

#filters li {
	float:left;
}

#filters li span {
	display: block;
	padding: 5px 20px;
	text-decoration: none;
	cursor: pointer;
	color: #FFFFFF;
	width: 181px;
	text-align: center;
	font-size: 1.7em;
	height: 50px;
	line-height: 41px;
	/*text-shadow: -1px 2px 1px rgba(255, 0, 114, 0.9);*/
	font-family: 'moon_flower_boldregular';
	border: 2px solid white;
	margin: 5px;
	transition: all 0.5s ease 0s!important;
}

#filters li span.active, #filters li span:hover {
	background: #FFFFFF;
	color: #000000;
}

@media screen and (max-width: 1199px){
	#filters li span{
		width: 148px!important;
	}
}

@media screen and (max-width: 991px){
	#filters li span{
		width: 240px!important;
	}
}

@media screen and (max-width: 767px){
	#filters li {
		float:left;
		width: 100%!important;
	}
	#filters li span{
		width: 100%!important;
		position: relative;
		float: left;
		clear: both;
		margin-left: 0px;
	}
}

#jobs-list{
	margin-top:30px;
}

#jobs-list .portfolio {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	width:23%;
	margin:1%;
	display:none;
	float:left;
	overflow:hidden;
}

.portfolio-wrapper {
	overflow:hidden;
	position: relative !important;
	cursor:pointer;
}

.portfolio img {
	max-width:100%;
	position: relative;
}

.portfolio .label {
	position: absolute;
	width: 100%;
	height:40px;
	bottom:-40px;
}

.portfolio .label-bg {
	background: #000;
	width: 100%;
	height:100%;
	position: absolute;
	top:0;
	left:0;
}

.portfolio .label-text {
	position: relative;
	z-index:500;
	padding:5px 8px;
	font-size: 12pt;
}

.portfolio .text-category {
	display: block;
	font-size: 0.6em;
	color: #FF2B5B;
	text-transform: uppercase;
	line-height: 1.8em;
	font-weight: 700;
}

.portfolio .text-title{
	font-family: 'moon_flower_boldregular';
	text-align: center;
	font-size: 1.2em;
	text-decoration: none;
	color: #FFF;
	text-decoration: none;
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
	.container {
		width: 768px;
	}
}

@media only screen and (max-width: 767px) {
	.container {
		width: 95%;
	}
	#jobs-list .portfolio {
		width:48%;
		margin:1%;
	}
	#ads {
		display:none;
	}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	.container {
		width: 70%;
	}
	#ads {
		display:none;
	}
}

@media only screen and (max-width: 400px) {
	.container {
		width: 95%;
	}
	#jobs-list .portfolio {
		width:100%;
		margin-bottom: 18px;
		margin-left: 0px;
	}
	.h-principalmente {
	    margin-top: 40px;
	    margin-bottom: 40px;
	    font-weight: 300;
	    font-family: 'moon_flower_boldregular';
	    font-size: 2.7em;
	}
}

/* Contato */

.spacer-contato-text{
	margin-top: 190px;
}

.spacer-contato{
	margin-top: 270px;
}

.spacer-social{
	margin-top: 100px;
}

#social-buttons{
  position: absolute;
  bottom: 40px;
  left: 50%;
  margin-left: -153px;
}

.h-sociais{
	text-align: center;
	color:#01fea0;
}

.btn-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}

.btn-outline {
    margin-top: 15px;
    border: solid 2px #fff;
    font-size: 20px;
    color: #fff;
    background: 0 0;
    transition: all .3s ease-in-out;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    border: solid 2px #fff;
    color: #18bc9c;
    background: #fff;
}

@media screen and (max-width: 1199px){
	.spacer-contato{
		margin-top: 150px;
	}
	.spacer-contato-text{
		margin-top: 50px;
	}
}

#form-alerts{
	color:#fff;
	font-size: 80%;
	text-transform: uppercase!important;
}

/* Footer */

#footer{
	color:#fff;
}

.withLove * {
	display: inline-block;
}

.withLove .heart path {
	fill: #01fea0;
}

.heart{
	padding-top: 10px;
}

.alpha, .omega{
	text-transform: uppercase;
}

.spacer-footer{
	margin-top: 15px;
}

/* Sound */

.icon-sound{
	display: none;
	background: url("../../../images/icon-sound-on.png") no-repeat;
	height: 80px;
	width: 80px;
	margin: 0 auto;
	position: fixed;
	left: 0;
	margin-left: 3px;
	margin-top: 3px;
	z-index: 99999;
	cursor: pointer;
	transition: all 0.5s ease 0s!important;
}

.icon-sound:hover{
	transform: scale(0.95,0.95);
}

.icon-sound-muted{
	background: url("../../../images/icon-sound-off.png") no-repeat;
}



/* Forms */

#btn-send{
	background: url("../../../images/btn-send.png") 50% 0 no-repeat;
	height: 60px;
	width: 106px;
	border: none;
	cursor: pointer;
	position: relative;
	float: right;
	margin-top: 30px;
	transition: all 0.5s ease 0s!important;
}

#btn-send:hover{
	transform: scale(0.90,0.90)!important;
    transition: all 0.5s ease 0s!important;
}

.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 1em;
	width: calc(100% - 2em);
	vertical-align: top;
}

.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #000;
	font-weight: 300;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
	float: right;
	padding: 0 1em;
	width: 40%;
	color: #6a7989;
	font-weight: bold;
	font-size: 70.25%;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-transform: uppercase;
	color: #fff;
	font-size: 100%;
}

.input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
}

/* Hoshi */
.input--hoshi {
	overflow: hidden;
}

.input__field--hoshi {
	margin-top: 1em;
	padding: 1.7em 0.15em;
	width: 100%;
	background: transparent;
	color: #01fea0;
}

.input__label--hoshi {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 0 0.25em;
	width: 100%;
	height: calc(100% - 1em);
	text-align: left;
	pointer-events: none;
}

.input__label-content--hoshi {
	position: absolute;
}

.input__label--hoshi::before,
.input__label--hoshi::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: calc(100% - 10px);
	border-bottom: 1px solid #B9C1CA;
}

.input__label--hoshi::after {
	margin-top: 2px;
	border-bottom: 4px solid red;
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.input__label--hoshi-color-1::after {
	border-color: #01fea0;
}

.input__label--hoshi-color-2::after {
	border-color: hsl(160, 100%, 50%);
}

.input__label--hoshi-color-3::after {
	border-color: hsl(20, 100%, 50%);
}

.input__field--hoshi:focus + .input__label--hoshi::after,
.input--filled .input__label--hoshi::after {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.input__field--hoshi:focus + .input__label--hoshi .input__label-content--hoshi,
.input--filled .input__label-content--hoshi {
	-webkit-animation: anim-1 0.3s forwards;
	animation: anim-1 0.3s forwards;
}

@-webkit-keyframes anim-1 {
	50% {
		opacity: 0;
		-webkit-transform: translate3d(1em, 0, 0);
		transform: translate3d(1em, 0, 0);
	}
	51% {
		opacity: 0;
		-webkit-transform: translate3d(-1em, -40%, 0);
		transform: translate3d(-1em, -40%, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0, -40%, 0);
		transform: translate3d(0, -40%, 0);
	}
}

@keyframes anim-1 {
	50% {
		opacity: 0;
		-webkit-transform: translate3d(1em, 0, 0);
		transform: translate3d(1em, 0, 0);
	}
	51% {
		opacity: 0;
		-webkit-transform: translate3d(-1em, -40%, 0);
		transform: translate3d(-1em, -40%, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0, -40%, 0);
		transform: translate3d(0, -40%, 0);
	}
}